
# Logging

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# Reports
# (https://nodejs.org/api/report.html)

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# Runtime data

pids
*.pid
*.seed
*.pid.lock


# Generated Libraries by jscoverage/JSCover

lib-cov


# Directories for istanbul

coverage
*.lcov


# Test Coverage

.nyc_output


# Grunt Storage
# (https://gruntjs.com/creating-plugins#storing-task-files)

.grunt


# Bower Dependencies
# (https://bower.io/)

bower_components


# Node-WAF Config

.lock-wscript


# Binaries
# (https://nodejs.org/api/addons.html)

build/Release


# Dependencies

node_modules/
jspm_packages/


# TypeScript Declarations

typings/


# TypeScript Cache

*.tsbuildinfo


# NPM Cache

.npm


# ESLint Cache

.eslintcache


# Microbundle Cache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/


# REPL History

.node_repl_history


# NPM Pack Output

*.tgz


# Yarn Integrity

.yarn-integrity


# DotEnv

.env
.env.test


# Parcel-Bundler Cache
# (https://parceljs.org/)

.cache


# Next.js Build

.next


# Nuxt.js Build

.nuxt


# Gatsby

.cache/


# Vuepress Build

.vuepress/dist


# Serverless

.serverless/


# FuseBox Cache

.fusebox/


# DynamoDB

.dynamodb/


# TernJS Port

.tern-port


# Build

/build/
bin/extension-key.pem


# TamperDAV Server

dav/
